# Zip lists to build a DataFrame

In [13]:
import pandas as pd

In [17]:
vals=[['China', 'India', 'USA'], [1409517397, 1339180127, 324459463]] # top 3
vals

[['China', 'India', 'USA'], [1409517397, 1339180127, 324459463]]

In [18]:
keys=['Country', 'Population']
keys

['Country', 'Population']

In [19]:
# Zip the 2 lists together into one list of (key,value) tuples: zipped
zipped = zip(keys, vals)
print(zipped)

<zip object at 0x000002D4776FAA88>

In [20]:
# Build a dictionary with the zipped list: data
data = dict(zipped)
data

{'Country': ['China', 'India', 'USA'],
 'Population': [1409517397, 1339180127, 324459463]}

In [21]:
df = pd.DataFrame(data)
df

  Country  Population
0   China  1409517397
1   India  1339180127
2     USA   324459463

In [25]:
# using list of zip

In [22]:
# Zip the 2 lists together into one list of (key,value) tuples: zipped
zipped = list(zip(keys, vals))

# Inspect the list using print()
print(zipped)

# Build a dictionary with the zipped list: data
data = dict(zipped)

# Build and inspect a DataFrame from the dictionary: df
df = pd.DataFrame(data)
print(df)

[('Country', ['China', 'India', 'USA']), ('Population', [1409517397, 1339180127, 324459463])]
  Country  Population
0   China  1409517397
1   India  1339180127
2     USA   324459463

In [23]:
df

  Country  Population
0   China  1409517397
1   India  1339180127
2     USA   324459463

In [24]:
zipped

[('Country', ['China', 'India', 'USA']),
 ('Population', [1409517397, 1339180127, 324459463])]

In [26]:
# from dict

In [27]:
# Make a string with the value 'PA': state
state = 'PA'
cities= ['Manheim',
 'Preston park',
 'Biglerville',
 'Indiana',
 'Curwensville',
 'Crown',
 'Harveys lake',
 'Mineral springs',
 'Cassville',
 'Hannastown',
 'Saltsburg',
 'Tunkhannock',
 'Pittsburgh',
 'Lemasters',
 'Great bend']

# Construct a dictionary: data
data = {'state':state, 'city':cities}

# Construct a DataFrame from dictionary data: df
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

               city state
0           Manheim    PA
1      Preston park    PA
2       Biglerville    PA
3           Indiana    PA
4      Curwensville    PA
5             Crown    PA
6      Harveys lake    PA
7   Mineral springs    PA
8         Cassville    PA
9        Hannastown    PA
10        Saltsburg    PA
11      Tunkhannock    PA
12       Pittsburgh    PA
13        Lemasters    PA
14       Great bend    PA

In [28]:
df

               city state
0           Manheim    PA
1      Preston park    PA
2       Biglerville    PA
3           Indiana    PA
4      Curwensville    PA
5             Crown    PA
6      Harveys lake    PA
7   Mineral springs    PA
8         Cassville    PA
9        Hannastown    PA
10        Saltsburg    PA
11      Tunkhannock    PA
12       Pittsburgh    PA
13        Lemasters    PA
14       Great bend    PA